* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.slide {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  transform: translateX(0);
}
.slide:nth-child(1),
.slide:nth-child(3),
.slide:nth-child(5) {
  background-color: red;
}

.slide:nth-child(2),
.slide:nth-child(4),
.slide:nth-child(6) {
  background-color: blue;
}

.control {
  font-size: 5rem;
  z-index: 200;
  background: 0;
  cursor: pointer;
  border: 0;
  padding: 1rem;
  color: yellow;
  border-radius: 50%;
  position: absolute;
}

.next {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.prev {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
